:root {
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-btn-primary:#1d3557;
  --clr-btn-danger:#e63946;
  --clr-btn-edit:#457b9d;
  --clr-btn-hover:#a8dadc;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btn{
  transition: var(--transition);
  padding: 0.75rem;
  border: transparent;
  color: var(--clr-white);
  background: var(--clr-btn-primary);
  font-size: 1.2rem;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
}

.btn:hover{
  color: var(--clr-btn-primary);
  background: var(--clr-btn-hover);
  cursor: pointer;
}

img{
  width: 100%;
  display: block;
  height: 20%;
}

.section-center{
  margin: 0 auto;
  max-width: 1170px;
  width: 90vw;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 50vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

.person-card{
  box-shadow: var(--light-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.person-img-container img{
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

.person-info{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.person-info p{
  margin: 1rem 0;
}

.person-info-name{
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.person-info-occupation{
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.person-info-location-icon{
  margin-right: 5px;
}

.person-info-location{
  font-weight: 400;
  text-transform: uppercase;
}

.people-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  margin-top: 3rem;
}

.add-person-btn-container{
  text-align: right;
  margin-top: 4rem;
}

.person-card-buttons{
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem;
}

.person-card-buttons-edit{
  margin-right: 2rem;
  color: blue;
}

.person-card-buttons-delete{
  color: red;
}

.input{
  padding: 0.4rem;
  margin: 0.5rem;
  width: 100%;
}

select, .select{
  padding: 0.4rem;
  margin: 0.5rem;
  width: 100%;
}

.error{
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-weight: 300;
  color: red;
  font-size: 13px;
  padding: 0 0.4rem;
}








